<section class="hero is-danger is-medium">
    <div class="hero-body">
      <p class="title">
        Error: {{@ERROR.code}} - {{@ERROR.status}}
      </p>
      <p class="subtitle">
        @{{ERROR.text}}
      </p>
    </div>
  </section>