<section class="hero is-warning is-medium">
  <div class="hero-body">
    <p class="title">
      ERROR: {{@ERROR.code}}-{{@ERROR.status}}
    </p>
    <p class="subtitle">
      <strong>We think you're lost...</strong>
    <br>
      Please goto home or search article.
    </p>
  </div>
</section>