<div class="columns is-variable is-3 is-4-widescreen is-6-fullhd is-multiline is-centered">
    <repeat group="{{@posts}}" value="{{@post}}"></repeat>
    <div class="column is-4-desktop is-6-tablet is-3-widescreen">
        <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="{{@BASE}}/public/svg/logo-plain.svg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{@post.author}}</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>
          
              <div class="content">
                {{@post.title}} <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
    </div>
    </repeat>
</div>