<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{@title}}</title>
    <link rel="stylesheet" href="{{@BASE}}/public/styles/bulma.min.css">
    <link rel="stylesheet" href="{{@BASE}}/public/styles/web.css">
    <!-- <link rel="stylesheet" href="/public/styles/bulma-rtl.min.css"> -->
</head>

<body>
    <include href="navbar.html" />